<section>
  <div class="gap100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="cart-sec">
            <table class="table table-responsive">
              <tr>
                <th>Nom du produit</th>
                <th>prix</th>
                <th>quantité</th>
                <th>prix total</th>
              </tr>
              <tr *ngFor="let item of cartItems">
                <td>
                  <a href="#" title="" class="delete-cart"><i class="ti-close"></i></a>
                  <div class="cart-meta">
                    <div class="product-name">
                      <h5><a href="#" title="">{{item.name}}</a></h5>
                      <span class="post-title">by <a href="#" title="">{{item.shopName}}</a>  </span>
                    </div>
                  </div>
                </td>
                <td>
                                    <span class="cart-prices">
                                                                              <ins>
                                            <span class="woocommerce-Price-amount amount"><span
                                              class="woocommerce-Price-currencySymbol">{{item.price}}</span>TND</span>
                                        </ins>
                                        <del>
                                            <span class="woocommerce-Price-amount amount"><span
                                              class="woocommerce-Price-currencySymbol">99</span>TND</span>
                                        </del>

                                    </span>
                </td>
                <td>
                  <div class="cart-list-quantity">
                    <div class="c-input-number">
                                            <span>
                                                <input id="box1" type="text" class="manual-adjust" value="1" disabled/>
                                            </span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="total-price">{{item.price}}</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="amount-area">
            <a href="#" title="" class="update-cart">Actualiser le panier</a>
            <form method="post" class="coupon-code">
              <input type="text" placeholder="Enter your Coupon">
              <button><i class="fa fa-paper-plane-o"></i></button>
            </form>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="total-area">
            <ul>
              <li>
                <span>TOTAL:</span>
                <i>TND {{totalAmmount}}</i>
              </li>
              <li>
                <span>Frais de livraison:</span>
                <i>Free</i>
              </li>
              <li class="order-total">
                <span>TOTAL:</span>
                <i>TND {{totalAmmount}}</i>
              </li>
            </ul>
          </div>
          <div class="proceed">
            <a [routerLink]="['/cart/checkout']" [state]="{totalAmmount}" title="" class="button">Confirmer mes
              achats</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
