<section>
    <div class="gap100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-sec">
                        <table class="table table-responsive">
                            <tr>
                                <th>Nom du produit</th>
                                <th>prix</th>
                                <th>quantité</th>
                                <th>prix total</th>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" title="" class="delete-cart"><i class="ti-close"></i></a>
                                    <div class="cart-meta">
                                        <div class="product-name">
											<h5><a href="#" title="">Zrir Sésame</a></h5>
											<span class="post-title">by <a href="#" title="">Dar Zmen</a>  </span>
                                            </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="cart-prices"> 
                                        <del>
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">99</span>TND</span>
                                        </del> 
                                        <ins>
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">60</span>TND</span>
                                        </ins> 
                                    </span>
                                </td>
                                <td>
                                    <div class="cart-list-quantity">
                                        <div class="c-input-number">
                                            <span>
                                                <input id="box1" type="text" class="manual-adjust" value="0"/>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="total-price">60 TND</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" title="" class="delete-cart"><i class="ti-close"></i></a>
                                   
                                    <div class="cart-meta">
                                        <div class="product-name">
											<h5><a href="#" title="">Zrir Sésame</a></h5>
											<span class="post-title">by <a href="#" title="">Dar Zmen</a>  </span>
                                            </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="cart-prices"> 
                                        <del>
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">80</span>TND</span>
                                        </del> 
                                        <ins>
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">60</span>TND</span>
                                        </ins> 
                                    </span>
                                </td>
                                <td>
                                    <div class="cart-list-quantity">
                                        <div class="c-input-number">
                                            <span>
                                                <input id="box2" type="text" class="manual-adjust" value="0"/>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="total-price">60 TND</span>
                                </td>
                            </tr>
        
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="amount-area">
                        <a href="#" title="" class="update-cart">Actualiser le panier</a>
                        <form method="post" class="coupon-code">
                            <input type="text" placeholder="Enter your Coupon">
                            <button><i class="fa fa-paper-plane-o"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="total-area">
                        <ul>
                            <li>
                                <span>TOTAL:</span>
                                <i>TND 180.000</i>
                            </li>
                            <li>
                                <span>Frais de livraison:</span>
                                <i>Free</i>
                            </li>
                            <li class="order-total">
                                <span>TOTAL:</span>
                                <i>TND 120.000</i>
                            </li>
                        </ul>
                    </div>
                    <div class="proceed">
                        <a href="http://localhost:4200/cart/checkout" title="" class="button">Confirmer mes achats</a>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>
