<div class="theme-layout">
	
	<section >
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="assets/images/resources/2.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
				  <h5>Creart,C'est grantit</h5>
				  <p>Un site web de e-commerce dédié aux commerçants Tunisiens.</p>
				  <div class="slider-btn">
					  <button  class="btn btn-1">Rejoignez-Nous</button>
					  
				  </div>
				</div>
			  </div>
			  <div class="carousel-item">
				<img src="assets/images/resources/3.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
				  <h5>Gift Store</h5>
				  <p>Some representative placeholder content for the second slide.</p>
				  <div class="slider-btn">
					<!-- <button class="btn btn-1">Consulter</button>
					<button class="btn btn-2">Contacter</button> -->
				</div>
				</div>
			  </div>
			  <div class="carousel-item">
				<img src="assets/images/resources/1.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
				  <h5>U-zina Hand Made</h5>
				  <p>Some representative placeholder content for the third slide.</p>
				  <div class="slider-btn">
					<!-- <button class="btn btn-1">Consulter</button>
					<button class="btn btn-2">Contacter</button> -->
				</div>
				</div>
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div>
	
	</section><!-- news letter -->
	
<!-- filtre et commerçants-->
	<section>
		<div class="gap100 no-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-heading">
							<h2>Nos Artisans</h2>
						</div>
					</div>	

					<div class="gap gray-bg">
						<div class="container">
							<div class="row" id="page-contents">
								<div class=" col-lg-12">
									<div class="blog-sec">
										<div class="post-filter-sec">
											<form method="post" class="filter-form">
												<input type="post" placeholder="Search post">
												<button><i class="ti-search"></i></button>
											</form>
											<div class="purify">
												<span>filter by</span>
												<select>
													<option>All categories</option>
													<option>By Favouirtes</option>
													<option>By Likes</option>
												</select>
												<select>
													<option>Assending A-Z</option>
													<option>Desending Z-A</option>
													
												</select>
												<a href="#" title="">purify</a>
											</div>
										</div>
										<div class="row masonry">
											<div class="col-lg-4 col-sm-6">
												<div >
													<figure>
														<img alt="" src="assets/images/resources/bloggrid-2.jpg">
														
													</figure>
													<div class="g-post-meta">
														<div class="post-title">
															<h4><a title="" href="#">Gift store  </a></h4><p>💝 Gift store # Marsa, concept store </p>
														</div>	
														<div class="g-post-ranking">
															<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 likes</a>
															<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i>5 comments</a>
															<a title="" href="#" class="coments"><i class="fa fa-facebook-square"></i>Share</a>
														</div>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-sm-6">
												<div >
													<figure>
														<img alt="" src="assets/images/resources/bloggrid-1.jpg" >
														
													</figure>
													<div class="g-post-meta">
														<div class="post-title">
															<h4><a title="" href="#">U-ZINA home made</a></h4>
															<p>Décoration intérieurs mmoderne pour vos maisons. </p>
														</div>	
														<div class="g-post-ranking">
															<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 likes</a>
															<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i>5 comments</a>
															<a title="" href="#" class="coments"><i class="fa fa-facebook-square"></i>Share</a>

														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-4 col-sm-6">
												<div >
													<figure>
														<img alt="" src="assets/images/resources/bloggrid-4.jpg" >
													</figure>
													<div class="g-post-meta">
														<div class="post-title">
															<h4><a title="" href="#">Lella zwina</a></h4>
															<p>Lella Zwina
																Beauté, cosmétique et soins
																 </p>
														</div>	
														<div class="g-post-ranking">
															<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 likes</a>
															<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i>5 comments</a>
															<a title="" href="#" class="coments"><i class="fa fa-facebook-square"></i>Share</a>

														</div>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-sm-6">
												<div >
													<figure>
														<img alt="" src="assets/images/resources/bloggrid-6.jpg">
														
													</figure>
													<div class="g-post-meta">
														<div class="post-title">
															<h4><a title="" href="/profil">Kmayra Bsissa et autes.</a></h4>
															<p>𝗞 𝗠 𝗔 𝗬 𝗥 𝗔 🌾
																Épicerie
																
																🌸𝑩𝑺𝑰𝑺𝑨😋𝑮𝑹𝑨𝑵𝑶𝑳𝑨💫𝒁𝑹𝑰𝑹🍯𝑴𝑰𝑬𝑳🐝𝑩𝑬𝑼𝑹𝑹𝑬💯
																 </p>
														</div>	
														<div class="g-post-ranking">
															<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 likes</a>
															<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i>5 comments</a>
															<a title="" href="#" class="coments"><i class="fa fa-facebook-square"></i>Share</a>

														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-4 col-sm-6">
												<div >
													<figure>
														<img alt="" src="assets/images/resources/bloggrid-7.jpg"  >
													</figure>
													<div class="g-post-meta">
														<div class="post-title">
															<h4><a title="" href="#">Création Emna</a></h4>
															<p>création emna
																Styliste( jelbeb, koftan, jeba, fouta w blouza ...). </p>
														</div>	
														<div class="g-post-ranking">
															<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 likes</a>
															<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i>5 comments</a>
															<a title="" href="#" class="coments"><i class="fa fa-facebook-square"></i>Share</a>

															
														</div>
													</div>
												</div>
											</div>
										
											<div class="col-lg-4 col-sm-6">
												<div >
													<figure>
														<img alt="" src="assets/images/resources/bloggrid-8.jpg" >
													</figure>
													<div class="g-post-meta">
														<div class="post-title">
															<h4><a title="" href="#">O saveur</a></h4>
															<p>Ô SAVEURS - L'ÉPICERIE FINE
																Épicerie fine
																Sélection fine et raffinée du meilleur de l'épicerie </p>
														</div>	
														<div class="g-post-ranking">
															<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 likes</a>
															<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i>5 comments</a>
															<a title="" href="#" class="coments"><i class="fa fa-facebook-square"></i>Share</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<button class="btn-view btn-load-more">Load More</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				

				</div>
			</div>	
		</div>
	
	
		<div class="gap100 no-top">
			<div class="container">
				<div class="row">
				<!-- 	<div class="col-lg-12">
						<div class="section-heading">
							<h2>Nos produits</h2>
						</div>
					</div> -->
					<div class="gap100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-heading">
							<h2>Nos produits</h2>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="shop-page">
							<div class="shop-filter-sec">
								Showing 1–12 of 42 results
								<div class="shop-filter">
									<select>
										<option>sort by</option>
										<option>newest</option>
										<option>price low to high</option>
										<option>price high to low</option>
										<option>sort by average rating</option>
									</select>
								</div>
							</div>

							<div class="row">


								<div class="col-lg-3 col-sm-6">
									<div class="product-box">
										
										<figure>
											<span class="hot">Hot</span>
											<img src="assets/images/resources/shop3.jpg" alt="">
											<ul class="cart-optionz">
												<li><a href="#" title="Add Cart" data-toggle="tooltip"><i class="ti-shopping-cart"></i></a></li>
												<li><a href="#" title="Quick Shop" data-toggle="tooltip"><i class="ti-eye"></i></a></li>
												<li><a href="#" title="Wishlist" data-toggle="tooltip"><i class="ti-heart"></i></a></li>
											</ul>
										</figure>
										<div class="product-name">
											<h5><a href="#" title="">Bsisa Pistache</a></h5>
											<span class="post-title">by <a href="#" title="">Bsiset Karima</a>  </span>

											<ul class="starz">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
											<div class="prices">
												<ins>39 TND</ins>
												<del>49 TND</del>
											</div>
										</div>
									</div>
								</div>




								<div class="col-lg-3 col-sm-6">
									<div class="product-box">
										<figure>
											<span class="new">New</span>
											<img src="assets/images/resources/shop4.jpg" alt="">
											<ul class="cart-optionz">
												<li><a href="#" title="Add Cart" data-toggle="tooltip"><i class="ti-shopping-cart"></i></a></li>
												<li><a href="#" title="Quick Shop" data-toggle="tooltip"><i class="ti-eye"></i></a></li>
												<li><a href="#" title="Wishlist" data-toggle="tooltip"><i class="ti-heart"></i></a></li>
											</ul>
										</figure>
										<div class="product-name">
											<h5><a href="#" title="">Zrir Sésame</a></h5>
											<span class="post-title">by <a href="#" title="">Dar Zmen</a>  </span>

											<ul class="starz">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
											<div class="prices">
												<ins>29 TND</ins>
												<del>39 TND</del>
											</div>
										</div>
									</div>
								</div>



							


								<div class="col-lg-3 col-sm-6">
									<div class="product-box">
										
										<figure>
											<span class="hot">Hot</span>
											<img src="assets/images/resources/shop3.jpg" alt="">
											<ul class="cart-optionz">
												<li><a href="#" title="Add Cart" data-toggle="tooltip"><i class="ti-shopping-cart"></i></a></li>
												<li><a href="#" title="Quick Shop" data-toggle="tooltip"><i class="ti-eye"></i></a></li>
												<li><a href="#" title="Wishlist" data-toggle="tooltip"><i class="ti-heart"></i></a></li>
											</ul>
										</figure>
										<div class="product-name">
											<h5><a href="#" title="">Bsisa Pistache</a></h5>
											<span class="post-title">by <a href="#" title="">Bsiset Karima</a>  </span>

											<ul class="starz">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
											<div class="prices">
												<ins>39 TND</ins>
												<del>49 TND</del>
											</div>
										</div>
										
									</div>
								</div>

								<div class="col-lg-3 col-sm-6">
									<div class="product-box">
										<figure>
											<span class="new">New</span>
											<img src="assets/images/resources/shop4.jpg" alt="">
											<ul class="cart-optionz">
												<li><a href="#" title="Add Cart" data-toggle="tooltip"><i class="ti-shopping-cart"></i></a></li>
												<li><a href="#" title="Quick Shop" data-toggle="tooltip"><i class="ti-eye"></i></a></li>
												<li><a href="#" title="Wishlist" data-toggle="tooltip"><i class="ti-heart"></i></a></li>
											</ul>
										</figure>
										<div class="product-name">
											<h5><a href="#" title="">Zrir Sésame</a></h5>
											<span class="post-title">by <a href="#" title="">Dar Zmen</a>  </span>

											<ul class="starz">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
											<div class="prices">
												<ins>29 TND</ins>
												<del>39 TND</del>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-sm-6">
									<div class="product-box">
										<figure>
											<span class="hot">Hot</span>
											<img src="assets/images/resources/shop3.jpg" alt="">
											<ul class="cart-optionz">
												<li><a href="#" title="Add Cart" data-toggle="tooltip"><i class="ti-shopping-cart"></i></a></li>
												<li><a href="#" title="Quick Shop" data-toggle="tooltip"><i class="ti-eye"></i></a></li>
												<li><a href="#" title="Wishlist" data-toggle="tooltip"><i class="ti-heart"></i></a></li>
											</ul>
										</figure>
										<div class="product-name">
											<h5><a href="#" title="">Bsisa Pistache</a></h5>
											<span class="post-title">by <a href="#" title="">Bsiset Karima</a>  </span>

											<ul class="starz">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
											<div class="prices">
												<ins>39 TND</ins>
												<del>49 TND</del>
											</div>
										</div>
										
									</div>
								</div>

								<div class="col-lg-3 col-sm-6">
									<div class="product-box">
										<figure>
											<span class="sale">Sale</span>
											<img src="assets/images/resources/shop4.jpg" alt="">
											<ul class="cart-optionz">
												<li><a href="#" title="Add Cart" data-toggle="tooltip"><i class="ti-shopping-cart"></i></a></li>
												<li><a href="#" title="Quick Shop" data-toggle="tooltip"><i class="ti-eye"></i></a></li>
												<li><a href="#" title="Wishlist" data-toggle="tooltip"><i class="ti-heart"></i></a></li>
											</ul>
										</figure>
										<div class="product-name">
											<h5><a href="#" title="">Zrir Sésame</a></h5>
											<span class="post-title">by <a href="#" title="">Dar Zmen</a>  </span>

											<ul class="starz">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
											<div class="prices">
												<ins>29 TND</ins>
												<del>39 TND</del>
											</div>
										</div>
									</div>
								</div>
							
								<div class="col-lg-3 col-sm-6">
									<div class="product-box">
										<figure>
											<span class="new">New</span>
											<img src="assets/images/resources/shop4.jpg" alt="">
											<ul class="cart-optionz">
												<li><a href="#" title="Add Cart" data-toggle="tooltip"><i class="ti-shopping-cart"></i></a></li>
												<li><a href="#" title="Quick Shop" data-toggle="tooltip"><i class="ti-eye"></i></a></li>
												<li><a href="#" title="Wishlist" data-toggle="tooltip"><i class="ti-heart"></i></a></li>
											</ul>
										</figure>
										<div class="product-name">
											<h5><a href="#" title="">Zrir Sésame</a></h5>
											<span class="post-title">by <a href="#" title="">Dar Zmen</a>  </span>

											<ul class="starz">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
											<div class="prices">
												<ins>29 TND</ins>
												<del>39 TND</del>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-lg-3 col-sm-6">
									<div class="product-box">
										<figure>
											<span class="new">New</span>
											<img src="assets/images/resources/shop4.jpg" alt="">
											<ul class="cart-optionz">
												<li><a href="#" title="Add Cart" data-toggle="tooltip"><i class="ti-shopping-cart"></i></a></li>
												<li><a href="#" title="Quick Shop" data-toggle="tooltip"><i class="ti-eye"></i></a></li>
												<li><a href="#" title="Wishlist" data-toggle="tooltip"><i class="ti-heart"></i></a></li>
											</ul>
										</figure>
										<div class="product-name">
											<h5><a href="#" title="">Zrir Sésame</a></h5>
											<span class="post-title">by <a href="#" title="">Dar Zmen</a>  </span>

											<ul class="starz">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
											<div class="prices">
												<ins>29 TND</ins>
												<del>39 TND</del>
											</div>
										</div>
									</div>
								</div>
								
								
								<div class="col-lg-12">
									<ul class="paginationz">
										<li class="prev"><a title="" href="#"><i class="fa fa-angle-left"></i></a></li>
										<li><a title="" href="#">01</a></li>
										<li><a title="" href="#" class="active">02</a></li>
										<li><a title="" href="#">03</a></li>
										<li><a title="" href="#">04</a></li>
										<li class="space">.......</li>
										<li><a title="" href="http://localhost:4200/produits">All</a></li>
										<li class="next"><a title="" href="#"><i class="fa fa-angle-right"></i></a></li>
									</ul>
								</div><!-- pagination -->	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
				</div>
			</div>	
		</div>
	
	
	</section>
	

	<div class="gap100">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="prod-detail">
	                   <div class="gap no-bottom">
								<div class="section-heading">
									<h2>Best sellers</h2>
								</div>
								<div class="row remove-ext-50">
									<div class="col-lg-3 col-sm-6">
										<div class="product-box">
											<figure>
												<span class="new">New</span>
												<img src="assets/images/resources/shop4.jpg" alt="">
												<ul class="cart-optionz">
													<li><a href="#" title="Add Cart" data-toggle="tooltip"><i class="ti-shopping-cart"></i></a></li>
													<li><a href="#" title="Quick Shop" data-toggle="tooltip"><i class="ti-eye"></i></a></li>
													<li><a href="#" title="Wishlist" data-toggle="tooltip"><i class="ti-heart"></i></a></li>
													<li><a href="#" title="Compare" data-toggle="tooltip"><i class="ti-split-v-alt"></i></a></li>
												</ul>
											</figure>
											<div class="product-name">
												<h5><a href="#" title="">Zrir Sésame</a></h5>
												<span class="post-title">by <a href="#" title="">Dar Zmen</a>  </span>

												<ul class="starz">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
												<div class="prices">
													<ins>29 TND</ins>
													<del>39 TND</del>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="product-box">
											<figure>
												<span class="hot">Hot</span>
												<img src="assets/images/resources/shop3.jpg" alt="">
												<ul class="cart-optionz">
													<li><a href="#" title="Add Cart" data-toggle="tooltip"><i class="ti-shopping-cart"></i></a></li>
													<li><a href="#" title="Quick Shop" data-toggle="tooltip"><i class="ti-eye"></i></a></li>
													<li><a href="#" title="Wishlist" data-toggle="tooltip"><i class="ti-heart"></i></a></li>
													<li><a href="#" title="Compare" data-toggle="tooltip"><i class="ti-split-v-alt"></i></a></li>
												</ul>
											</figure>
											<div class="product-name">
												<h5><a href="#" title="">Bsisa Pistache</a></h5>
												<span class="post-title">by <a href="#" title="">Bsiset Karima</a>  </span>

												<ul class="starz">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
												<div class="prices">
													<ins>39 TND</ins>
													<del>49 TND</del>
												</div>
											</div>
										</div>
									</div>
										<div class="col-lg-3 col-sm-6">
										<div class="product-box">
											<figure>
												<span class="new">New</span>
												<img src="assets/images/resources/shop4.jpg" alt="">
												<ul class="cart-optionz">
													<li><a href="#" title="Add Cart" data-toggle="tooltip"><i class="ti-shopping-cart"></i></a></li>
													<li><a href="#" title="Quick Shop" data-toggle="tooltip"><i class="ti-eye"></i></a></li>
													<li><a href="#" title="Wishlist" data-toggle="tooltip"><i class="ti-heart"></i></a></li>
													<li><a href="#" title="Compare" data-toggle="tooltip"><i class="ti-split-v-alt"></i></a></li>
												</ul>
											</figure>
											<div class="product-name">
												<h5><a href="#" title="">Zrir Sésame</a></h5>
												<span class="post-title">by <a href="#" title="">Dar Zmen</a>  </span>

												<ul class="starz">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
												<div class="prices">
													<ins>29 TND</ins>
													<del>39 TND</del>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="product-box">
											<figure>
												<span class="hot">Hot</span>
												<img src="assets/images/resources/shop3.jpg" alt="">
												<ul class="cart-optionz">
													<li><a href="#" title="Add Cart" data-toggle="tooltip"><i class="ti-shopping-cart"></i></a></li>
													<li><a href="#" title="Quick Shop" data-toggle="tooltip"><i class="ti-eye"></i></a></li>
													<li><a href="#" title="Wishlist" data-toggle="tooltip"><i class="ti-heart"></i></a></li>
													<li><a href="#" title="Compare" data-toggle="tooltip"><i class="ti-split-v-alt"></i></a></li>
												</ul>
											</figure>
											<div class="product-name">
												<h5><a href="#" title="">Bsisa Pistache</a></h5>
												<span class="post-title">by <a href="#" title="">Bsiset Karima</a>  </span>

												<ul class="starz">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
												<div class="prices">
													<ins>39 TND</ins>
													<del>49 TND</del>
												</div>
											</div>
										</div>
									</div>
									
							
								</div>
							</div></div>
						</div>
					</div>
				</div>
			</div>
	
	<section>
		<div class="getquot-baner">
			<span>Rejoignez Créart Team et profitez de nos promotion. Pour plus de détails.</span>
			<a title="" href="http://localhost:4200/profil/abonnement">Rejoignez-nous</a>
		</div>
	</section><!-- get a quote -->

	<div class="bottombar">
		<div class="container">
			<div class="row">
			<!-- 	<div class="col-md-12">
					<span class="copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span>
					<i><img src="assets/images/credit-cards.png" alt=""></i>
				</div> -->
			</div>
		</div>
	</div>

</div>	

