/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackBar-danger {
  color: #ffffff !important;
  background-color: #d9534f !important;
}

.snackBar-success {
  color: #ffffff !important;
  background-color: #5cb85c !important;
}
