
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="widget">
                <div class="foot-logo">
                    <div class="logo">
                        <a href="index-2.html" title=""><img src="assets/images/logo.png" alt=""></a>
                    </div>	
                    <p>
                        Creart platforme e-commerce pour les artisans tunisiens, Rejoignez nous pour plus de détails contactez-nous.
                    </p>
                </div>
                <ul class="location">
                    <li>
                        <i class="ti-map-alt"></i>
                        <p>33 RUE BEB SOUIKA. SOKRA, ARIANA TUNISIE 2050.</p>
                    </li>
                    <li>
                        <i class="ti-mobile"></i>
                        <p>+216-22-344 345</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="widget">
                <div class="widget-title"><h4></h4></div>
             
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="widget">
                <div class="widget-title"><h4></h4></div>
            
            </div>
        </div>
      
        <div class="col-lg-2 col-md-4">
            <div class="widget">
                <div class="widget-title"><h6>Follow us</h6></div>
                <ul class="colla-apps">
                    <li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-facebook-square"></i>Facebook</a></li>
                    <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="fa fa-instagram"></i>instagram</a></li>
                    <li><a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-twitter-square"></i>Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
