<section>
    <div class="gap100 no-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                   <h2>Tarifications</h2>  
                    </div>
                    <!-- Button trigger modal -->

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Demande d'inscription</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="container">
            <form class="row g-3">
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Nom</label>
                  <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Prénom</label>
                    <input type="email" class="form-control" id="inputEmail4">
                  </div>
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Nom de la boutique</label>
                    <input type="email" class="form-control" id="inputEmail4">
                  </div>  
                  <div class="col-md-4">
                    <label for="inputState" class="form-label">categories</label>
                    <select id="inputState" class="form-select">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Identité fiscal</label>
                    <input type="email" class="form-control" id="inputEmail4">
                  </div>
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="inputEmail4">
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Num C.I.N</label>
                    <input type="password" class="form-control" id="inputPassword4">
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Num Téléphone</label>
                    <input type="password" class="form-control" id="inputPassword4">
                  </div>
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                  </div>
                <div class="col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                
                <div class="col-md-4">
                  <label for="inputState" class="form-label">Type D'abonnement</label>
                  <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Mode de paiement</label>
                    <select id="inputState" class="form-select">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                 
               
               
            
              </form>
            
            </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary">Confirmer</button>
        </div>
      </div>
    </div>
  </div>  

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="price-table">
                        <h3>Gratuit</h3>
                        <span>0 TND <i>/Mois</i></span>
                        <ul>
                            <li>10 users included</li>
                            <li>2gb of storage</li>
                            <li>email supported</li>
                            <li>help center access</li>
                            <li>full bandwidth</li>
                        </ul>
                        <a href="#" title="" class="main-btn" type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">S'inscrire</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="price-table">
                        <h3>Pro</h3>
                        <span>19 TND <i>/Mois</i></span>
                        <ul>
                            <li>10 users included</li>
                            <li>2gb of storage</li>
                            <li>email supported</li>
                            <li>help center access</li>
                            <li>full bandwidth</li>
                        </ul>
                        <a href="#" title="" class="main-btn" type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">S'inscrire</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="price-table">
                        <h3>Pro +</h3>
                        <span>29 TND<i>/Mois</i></span>
                        <ul>
                            <li>10 users included</li>
                            <li>2gb of storage</li>
                            <li>email supported</li>
                            <li>help center access</li>
                            <li>full bandwidth</li>
                        </ul>
                        <a href="#" title="" class="main-btn" type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">S'inscrire</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="gap100 no-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Team</h2>
                    </div>
                </div>	
                <div class="col-lg-3 col-sm-6">
                    <div class="our-teambox">
                        <figure><img src="assets/images/resources/team1.jpg" alt=""></figure>
                        <div class="team-info">
                            <h4>Sara Grey</h4>
                            <span>Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="our-teambox">
                        <figure><img src="assets/images/resources/team2.jpg" alt=""></figure>
                        <div class="team-info">
                            <h4>Peeter Paker</h4>
                            <span>Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="our-teambox">
                        <figure><img src="assets/images/resources/team3.jpg" alt=""></figure>
                        <div class="team-info">
                            <h4>Amy watson</h4>
                            <span>Support</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="our-teambox">
                        <figure><img src="assets/images/resources/team4.jpg" alt=""></figure>
                        <div class="team-info">
                            <h4>jaison born</h4>
                            <span>Operations</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
